<footer class="main-footer">
    <div class="container footer">
        <div class="footer__item ">
            <div class="footer__logo">
                <img src="./assets/images/logo.svg" alt="">
            </div>
          <p>اپلیکیشن در خواست خودرو و پیک</p>
          <p>تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
        </div>
        <div class="footer__item">
            <h6>تپسی</h6>
            <ul>
                <li> <a href="" class="">وبلاگ تپسی</a></li>
                <li> <a href="" class=""> فرصت شغلی</a></li>
                <li><a href="" class=""> تماس با ما</a></li>
                <li><a href="" class=""> لوگو و هویت سازمانی </a></li>
            </ul>
        </div>
        <div class="footer__item">
            <h6>مسافران</h6>
            <ul>
                <li> <a href="" class="">دانلود آپ مسافر</a></li>
                <li> <a href="" class=""> نسخه وب تپسی</a></li>
                <li><a href="" class=""> پرسش های متداول مسافران</a></li>
                <li><a href="" class=""> باشگاه مشتریان </a></li>
            </ul>
        </div>
        <div class="footer__item">
            <h6>رانندگان</h6>
            <ul>
                <li> <a href="" class="">ثبت نام راننده تاکسی </a></li>
                <li> <a href="" class=""> دانلود اپ سفیر </a></li>
                <li><a href="" class=""> پرسش های متداول سفیران </a></li>
                <li><a href="" class=""> باشگاه مشتریان</a></li>
            </ul>
        </div>
        <div class="footer__item">
            <h6>کسب و کار ها</h6>
            <ul>
                <li> <a href="" class="">شرایط و قوانین</a></li>
                <li> <a href="" class=""> دریافت API</a></li>
                <li><a href="" class=""> پنل سازمانی تپسی </a></li>
                <li><a href="" class=""> خرید کد اعتبار و تخفیف </a></li>
            </ul>
        </div>
        <div class="footer__item  enemad">
            <div class="footer__enemad">
                <img src="./assets/images/enemad.png" alt="">
            </div>
            <div class="footer__enemad">
                <img src="./assets/images/enemad.png" alt="">
            </div>
            <div class="footer__enemad">
                <img src="./assets/images/enemad.png" alt="">
            </div>
        </div>
    </div>
   
</footer>