<section class="hero-section">
    <!-- <picture>
        <source srcset="https://tapsi.ir/images/home/banner.webp" type="image/webp" media="(min-width: 768px)" />
        <source srcset="https://tapsi.ir/images/home/banner.jpg" type="image/jpg" media="(min-width: 768px)" />
        <source srcset="https://tapsi.ir/images/home/banner-mobile.webp" type="image/webp"
            media="(max-width: 768px)" />
        <source srcset="https://tapsi.ir/images/home/banner-mobile.jpg" type="image/jpg"
            media="(max-width: 768px)" />
        <img alt="banner" src="https://tapsi.ir/images/home/banner.jpg" class="banner-img" />
    </picture> -->
    <picture>
        <source srcset="https://tapsi.ir/images/home/banner.webp" type="image/webp" media="(min-width: 768px)" />
        <source srcset="./assets/images/banner.jpg" type="image/jpg" media="(min-width: 768px)" />
        <source srcset="https://tapsi.ir/images/home/banner-mobile.webp" type="image/webp"
            media="(max-width: 768px)" />
        <source srcset="./assets/images/banner-mobile.jpg" type="image/jpg"
            media="(max-width: 768px)" />
        <img alt="banner" src="./assets/images/banner.jpg" class="banner-img" />
    </picture>
    <div class="hero-wrapper  container">
        <div class="intro-btn">
            <h1>تپسی</h1>
            <h2> اپلیکیشن درخواست خودرو و پیک</h2>
            <div class="intro-wrapper">
                <div class="intro-btn__passenger">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M374.6 310.6l-160 160C208.4 476.9 200.2 480 192 480s-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 370.8V64c0-17.69 14.33-31.1 31.1-31.1S224 46.31 224 64v306.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0S387.1 298.1 374.6 310.6z"/></svg>                    </span>
                    <p>
                        دانلود اپلیکیشن مسافران
                    </p>
                </div>
                <div class="intro-btn__passenger"> 
                     <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M374.6 310.6l-160 160C208.4 476.9 200.2 480 192 480s-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 370.8V64c0-17.69 14.33-31.1 31.1-31.1S224 46.31 224 64v306.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0S387.1 298.1 374.6 310.6z"/></svg>
                    </span>
                    <p>
                        دانلود اپلیکیشن رانندگان
                    </p> 
                </div>
                <div class="intro-btn__passenger  intro-btn__transparent"> 
                     <span class="icon">
                        <svg class="icon">
                            <use xlink:href="./assets/images/svg-sprite2.svg#Vector"></use>
                        </svg>
                     </span>
                        <p>
                        وب اپلیکیشن مسافران
                    </p> 
                </div>
                <div class="intro-btn__passenger intro-btn__transparent"> 
                     <span class="icon">
                        <svg class="icon icon__car">
                            <use xlink:href="./assets/images/svg-sprite2.svg#car-solid 1"></use>
                        </svg>
                    </span>
                    <p>
                        ثبت نام رانندگان
                    </p> 
                </div>
            </div>
        </div>
    </div>

</section>