<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tapsi Demo</title>
</head>

<body>
   <section class="container block">
       <div class="select-type">
           <h2 class="contorol-title">انتخاب راننده</h2>
           <div class="select-control">
               <input type="radio" name="webinar" id="type-A">
               <label for="type-A">عمومی</label>
           </div>
           <div class="select-control">
               <input type="radio" name="webinar" id="type-B ">
            <label for="type-B ">اختصاصی </label>
        </div>
       </div>
   </section>
</body>

</html>