<section class="services container block">
    <h2 class="services__title">سرویس های تپسی</h2>
    <div class="services__tabs">
        <a class="tab active" data-tab-target="nav-classic-tab">
            <img src="https://tapsi.ir/images/home/cc-classic.png" aria-label="classic service icon"
                alt="tapsi-classic-icon">
            <p>تپسی کلاسیک</p>
        </a>
        <a class="tab" data-tab-target="nav-motopeyk-tab">
            <img src="https://tapsi.ir/images/home/cc-motopeyk.png" aria-label="motopeyk service icon"
                alt="motopeyk-icon">
            <p>موتوپیک</p>
        </a>
        <a class="tab" data-tab-target="nav-autopeyk-tab">
            <img src="https://tapsi.ir/images/home/cc-autopeyk.png" aria-label="autopeyk service icon"
                alt="autopeyk-icon">
            <p>اتوپیک</p>
        </a>
        <a class="tab" data-tab-target="nav-plus-tab">
            <img src="https://tapsi.ir/images/home/cc-plus.png" aria-label="plus service icon"
                alt="tapsi-plus-icon">
            <p>تپسی پلاس</p>
        </a>
        <a class="tab" data-tab-target="nav-tel-tab">
            <img src="https://tapsi.ir/images/home/cc-tel.png" aria-label="tel service icon" alt="tapsi-tel-icon">
            <p>تپسی تلفنی</p>
        </a>
        <a class="tab" data-tab-target="nav-hamyar-tab">
            <img src="https://tapsi.ir/images/home/cc-hamyar.png" aria-label="hamyar service icon"
                alt="hamyar-icon">
            <p>همیار</p>
        </a>
        <a class="tab" data-tab-target="nav-hamkhat-tab">
            <img src="https://tapsi.ir/images/home/cc-hamkhat.png" aria-label="hamkhat service icon"
                alt="hamkhat-icon">
            <p>هم&zwnj;خط</p>
        </a>
        <a class="tab" data-tab-target="nav-taxi-tab">
            <img src="https://tapsi.ir/images/home/cc-taxi.png" aria-label="taxi service icon"
                alt="tapsi-taxi-icon">
            <p>تاکسی</p>
        </a>
        <a class="tab" data-tab-target="nav-line-tab">
            <img src="https://tapsi.ir/images/home/cc-line.png" aria-label="line service icon"
                alt="tapsi-line-icon">
            <p>تپسی لاین</p>
        </a>
    </div>
    <div class="container">
        <div class="tab-content active" id="nav-classic-tab">       
            <div class="feature__image"> 
                <img  src="https://tapsi.ir/images/home/cc-classic.png" alt="i-mac-1.png">
            </div>
            <div class="feature__detail">
                <h3 class="feature__title">تپسی کلاسیک</h3>
                <p class="feature__text">
                    در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر وعمر کمتر، به دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین امتیاز را از سافران دریافت کرده اند. دراین سرویس که در حال حاضر در تهران فعال است، امکان تعییین چند مقصد یا توقف درحین سفر، وجود دارد.
                </p>
            </div>
        </div>
        <div class="tab-content " id="nav-motopeyk-tab">       
            <div class="feature__image"> 
                <img  src="https://tapsi.ir/images/home/cc-motopeyk.png" alt="i-mac-1.png">
            </div>
            <div class="feature__detail">
                <h3 class="feature__title"> موتوپیک</h3>
                <p class="feature__text">
                    در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر وعمر کمتر، به دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین امتیاز را از سافران دریافت کرده اند. دراین سرویس که در حال حاضر در تهران فعال است، امکان تعییین چند مقصد یا توقف درحین سفر، وجود دارد.
                </p>
            </div>
        </div>
        <div class="tab-content " id="nav-autopeyk-tab">       
            <div class="feature__image"> 
                <img  src="https://tapsi.ir/images/home/cc-autopeyk.png" alt="i-mac-1.png">
            </div>
            <div class="feature__detail">
                <h3 class="feature__title">اتوپیک</h3>
                <p class="feature__text">
                    در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر وعمر کمتر، به دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین امتیاز را از سافران دریافت کرده اند. دراین سرویس که در حال حاضر در تهران فعال است، امکان تعییین چند مقصد یا توقف درحین سفر، وجود دارد.
                </p>
            </div>
        </div>
        <div class="tab-content " id="nav-plus-tab">       
            <div class="feature__image"> 
                <img  src="https://tapsi.ir/images/home/cc-plus.png"  alt="i-mac-1.png">
            </div>
            <div class="feature__detail">
                <h3 class="feature__title">تپسی پلاس</h3>
                <p class="feature__text">
                    در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر وعمر کمتر، به دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین امتیاز را از سافران دریافت کرده اند. دراین سرویس که در حال حاضر در تهران فعال است، امکان تعییین چند مقصد یا توقف درحین سفر، وجود دارد.
                </p>
            </div>
        </div>
        <div class="tab-content " id="nav-tel-tab">       
            <div class="feature__image"> 
                <img  src="https://tapsi.ir/images/home/cc-tel.png" alt="i-mac-1.png">
            </div>
            <div class="feature__detail">
                <h3 class="feature__title">تپسی تلفنی</h3>
                <p class="feature__text">
                    در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر وعمر کمتر، به دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین امتیاز را از سافران دریافت کرده اند. دراین سرویس که در حال حاضر در تهران فعال است، امکان تعییین چند مقصد یا توقف درحین سفر، وجود دارد.
                </p>
            </div>
        </div>
        <div class="tab-content " id="nav-hamyar-tab">       
            <div class="feature__image"> 
                <img  src="https://tapsi.ir/images/home/cc-hamyar.png" alt="i-mac-1.png">
            </div>
            <div class="feature__detail">
                <h3 class="feature__title">همیار</h3>
                <p class="feature__text">
                    در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر وعمر کمتر، به دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین امتیاز را از سافران دریافت کرده اند. دراین سرویس که در حال حاضر در تهران فعال است، امکان تعییین چند مقصد یا توقف درحین سفر، وجود دارد.
                </p>
            </div>
        </div>
        <div class="tab-content " id="nav-hamkhat-tab">       
            <div class="feature__image"> 
                <img src="https://tapsi.ir/images/home/cc-hamkhat.png" alt="i-mac-1.png">
            </div>
            <div class="feature__detail">
                <h3 class="feature__title">هم خط</h3>
                <p class="feature__text">
                    در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر وعمر کمتر، به دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین امتیاز را از سافران دریافت کرده اند. دراین سرویس که در حال حاضر در تهران فعال است، امکان تعییین چند مقصد یا توقف درحین سفر، وجود دارد.
                </p>
            </div>
        </div>
        <div class="tab-content " id="nav-taxi-tab">       
            <div class="feature__image"> 
                <img  src="https://tapsi.ir/images/home/cc-taxi.png" alt="i-mac-1.png">
            </div>
            <div class="feature__detail">
                <h3 class="feature__title">تاکسی</h3>
                <p class="feature__text">
                    در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر وعمر کمتر، به دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین امتیاز را از سافران دریافت کرده اند. دراین سرویس که در حال حاضر در تهران فعال است، امکان تعییین چند مقصد یا توقف درحین سفر، وجود دارد.
                </p>
            </div>
        </div>
        <div class="tab-content " id="nav-line-tab">       
            <div class="feature__image"> 
                <img src="https://tapsi.ir/images/home/cc-line.png" alt="i-mac-1.png">
            </div>
            <div class="feature__detail">
                <h3 class="feature__title">تپسی لاین</h3>
                <p class="feature__text">
                    در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر وعمر کمتر، به دنبال شما خواهد آمد. همچنین، رانندگان این سرویس بالاترین امتیاز را از سافران دریافت کرده اند. دراین سرویس که در حال حاضر در تهران فعال است، امکان تعییین چند مقصد یا توقف درحین سفر، وجود دارد.
                </p>
            </div>
        </div>
    </div>
</section>